/**
 * 1. General
 * 2. Layout
 * 3. Lists
 * 4. Buttons
 * 5. Sidebar
*/

/* 1. General */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

table {
  width: 100%;
  padding: 0.2em 0;
  margin: 0.2em 0;
}

table th,
table td {
  text-align: center;
}

table > thead > tr > th:first-of-type,
table > tbody > tr > td:first-of-type {
  text-align: left;
}

/* 2. Layout */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app {
  /* box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end; */
}

#stage {
  box-sizing: border-box;
  /* flex-grow: 1; */
  /* padding: 1rem; */
}

@media screen and (min-width: 520px) {
  #stage {
    margin-left: 4rem;
  }
}

/* 3. Lists */
.list-clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-clear > li {
  padding: 0;
  margin: 0;
}

/* 4. Buttons */
.sidebar-button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
}

.sidebar-button.active {
  color: #fff;
  background-color: #0085be;
}

/* 5. Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: #333;
  transform: translate3d(-4rem, 0, 0);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

#test {
  position: absolute;
  left: -100in;
}

#sidebar-button {
  position: fixed;
  top: 0.5em;
  left: 4.5em;
  border: none;
  background-color: transparent;
}

#sidebar-button > div {
  width: 35px;
  height: 3px;
  margin: 0.3em 0;
  background-color: #333;
  transition-duration: 300ms;
}

#test:checked + #sidebar {
  transform: translate3d(0, 0, 0);
}

#test:checked + #sidebar > #sidebar-button > div:nth-of-type(2) {
  display: none;
}

#test:checked + #sidebar > #sidebar-button > div:nth-of-type(1) {
  transform: rotate(45deg) translate3d(15px, 5px, 0);
}

#test:checked + #sidebar > #sidebar-button > div:nth-of-type(3) {
  transform: rotate(-45deg) translate3d(0, 0.5em, 0);
}

@media screen and (min-width: 520px) {
  #sidebar-button {
    display: none;
  }
  #test + #sidebar {
    transform: translate3d(0, 0, 0);
  }
}
