/**
 * TOC
 *
 * 1. Vars
 * 2. Form
 * 3. List
 * 4. Layout
*/

/* 1. Vars */
:root {
	--black: #000;
	--gray: #333;
	--midGray: #979797;
	--lightGray: #ccc;
	--pink: #ff41b4;
	--white: #fff;
	--yellow: #ffe800;
	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--serif: Athelas, Cambria, serif;
	--fixed: 'Courier New', Courier, monospace;
	--handwriting: 'UnifrakturCook', cursive;
	--radius: 5px;
	--pad: 1rem;
	--padSmall: 0.5rem;
	--padTiny: 0.25rem;
}

html,
body {
	font-size: 1rem;
	font-family: var(--sans-serif);
	color: var(--gray);
}

/* 2. Form */
.control {
	box-sizing: border-box;
	width: 100%;
	padding: var(--padSmall) var(--padTiny);
	border: 1px solid var(--midGray);
	border-radius: var(--radius);
	margin: 0;
	font-size: 1.125rem;
	color: var(--gray);
	appearance: none;
	background-color: transparent;
}
.control::placeholder {
	color: var(--midGray);
}

.select-wrapper {
	position: relative;
}
.select-wrapper > svg {
	position: absolute;
	top: 8px;
	right: var(--padTiny);
}

.select {
	padding-right: calc(var(--padSmall) + 24px);
}

/* 3. List */
.clear-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*  4. Layout */
.narrow-container {
	width: 100vw;
	max-width: 20.25rem;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: stretch;
	gap: 1rem;
}

.flex-col {
	flex-grow: 1 1;
}

.two-col .flex-col {
	width: 50%;
}
