/**
 * 1. General
 *   1.1 Fonts
 *   1.2 Vars
 *   1.3 Global
 * 2. Links
 * 3. Forms
 * 4. Paragraphs
 * 5. Layout
 *   5.1 Grid
 *   5.2 Flex
 * 6. Lists
 * 7. Typography
 * 8. Character Sheet
 * 9. Buttons (see Button.svelte)
 * 10. Tracker (deprecated?)
 * 11. Monster Sheet (deprecated?)
 /

/* 1. General */

/* 1.1 Fonts */
@font-face {
  font-family: "cloister_blacklight";
  src: url("/fonts/cloisterblack-webfont.woff2") format("woff2"),
    url("/fonts/cloisterblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 1.2 Vars */
:root {
  --tiny-padding: 0.25rem;
  --small-padding: 0.5rem;
  --padding: 1rem;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --serif: Athelas, Cambria, serif;
  --fixed: "Courier New", Courier, monospace;
  --handwriting: "cloister_blacklight";
  --black: #222;
  --darkBlack: #000;
  --white: #fff;
}

/* 1.3 Global */
* {
  box-sizing: border-box;
}

::selection {
  background-color: magenta;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans-serif);
  background-color: var(--darkBlack);
}

/* 2. Links */
a,
a:visited {
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 3. Forms */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

/* 4. Paragraphs */
.space-tiny {
  padding: 0;
  margin: var(--tiny-padding);
}

/* 5. Layout */
#app {
  width: calc(100vw - 2rem);
  margin-left: 2rem;
  color: var(--white);
  background-color: var(--darkBlack);
}

#global-header {
  position: relative;
  padding: var(--small-padding);
  text-align: center;
}

#logo {
  margin: 0;
  font: 700 1rem/1 var(--serif);
  letter-spacing: 0.5em;
  display: inline;
}

#global-footer {
  padding: var(--small-padding);
  font: 400 0.75em/1.33333 var(--fixed);
  text-align: center;
}

#global-footer > p {
  margin: var(--small-padding) auto;
  max-width: 800px;
}

#global-footer a {
  font-weight: 700;
}

/* 5.1 Grid */
.grid {
  display: grid;
  column-gap: var(--small-padding);
  row-gap: var(--small-padding);
}

.grid-limit {
  max-width: 400px;
  padding: var(--small-padding);
  margin: 0 auto;
}

/* 5.2 Flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-center-row {
  display: flex;
  align-items: center;
}

/* 6. Lists */
.list-clear {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* 7. Typography */
.tiny-fixed {
  font: 400 0.625rem/1 var(--fixed);
}

.character-sheet-field-label {
  display: inline;
  margin: 0;
  font: 400 2rem/1 var(--handwriting);
}

.accented {
  padding: var(--tiny-padding) 0.125rem;
  color: var(--black);
  background-color: yellow;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 8. Character Sheet */
#character-sheet {
  padding: var(--small-padding);
  display: flex;
}
.character-sheet-col {
  flex-basis: 40%;
}
.character-sheet-col1 {
  flex-basis: 20%;
  padding-right: var(--small-padding);
  padding-left: var(--small-padding);
}
.character-sheet-field {
  padding: var(--small-padding);
  margin-bottom: var(--small-padding);
  color: var(--black);
  background-color: var(--white);
}

.character-sheet-title {
  display: inline;
  font-family: var(--fixed);
  font-weight: 400;
}
.character-sheet-ko {
  padding: 0;
  color: var(--white);
  background-color: transparent;
}
.character-sheet-copy {
  margin: 0.5em;
  font: 400 0.875rem/1.5 var(--fixed);
}

/* 10. Tracker */
#tracker {
  display: flex;
  flex-direction: column;
}

.tracker-item-wrapper {
  display: flex;
}

.tracker-item {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 2px solid #ccc;
}

.tracker-item.ally {
  border-color: cadetblue;
}

.tracker-item.enemy {
  border-color: red;
}

.tracker-item-portrait {
  display: block;
  width: 100%;
  height: auto;
  background-color: aqua;
}

.health-bar {
  background-color: cadetblue;
  height: 0.25rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.health-bar_currant {
  height: 0.25rem;
  width: 54px;
  background: linear-gradient(90deg, red, yellow, green);
}

/* 11. Monster Sheet */
.monster-sheet-header {
  padding-bottom: 0.25em;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
