/**
 * 1. General
 * 2. Layout
 * 3. Lists
 * 4. Typography
 * 5. Helpers
 * 6. Theme
 *   6.1 Magenta
 *   6.2 Black
 *   6.3 White
 * 7. Equipment
 * 8. Tracker
 * 9. Monster Sheet
 * 10. Character Sheet
*/

@font-face {
  font-family: "cloister_blacklight";
  src: url("/fonts/cloisterblack-webfont.woff2") format("woff2"),
    url("/fonts/cloisterblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --tiny-padding: 0.25rem;
  --small-padding: 0.5rem;
  --padding: 1rem;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --serif: Athelas, Cambria, serif;
  --fixed: "Courier New", Courier, monospace;
  --handwriting: "cloister_blacklight";
  --black: #222;
  --darkBlack: #000;
  --white: #fff;
}

/* 1. General */
* {
  box-sizing: border-box;
}

::selection {
  background-color: magenta;
}

html,
body {
  /* position: relative;
  width: 100%;
  height: 100%; */
  padding: 0;
  margin: 0;
  /* color: #222; */
  font-family: var(--sans-serif);
}

a,
a:visited {
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

table {
  width: 100%;
  padding: 0.2em 0;
  margin: 0.2em 0;
}

table th,
table td {
  text-align: center;
}

table > thead > tr > th:first-of-type,
table > tbody > tr > td:first-of-type {
  text-align: left;
}

.space-zero {
  padding: 0;
  margin: 0;
}

.space-tiny {
  padding: 0;
  margin: var(--tiny-padding);
}

.space-zero {
  padding: 0;
  margin: var(--small-padding);
}

#app {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column; */
  color: var(--white);
  background-color: var(--black);
}

/* 2. Layout */
.row {
  display: flex;
  align-items: center;
  padding: 0.25em;
  /* justify-content: space-between; */
}

.row-polar {
  justify-content: space-between;
}

.row-padded {
  justify-content: space-around;
}

.row-padded > div {
  flex-basis: 25%;
  padding: 0.25em;
}

.col {
  display: flex;
  flex-direction: column;
}

#stage {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.stage-column {
  flex-basis: 25%;
  display: flex;
  min-width: 370px;
  max-height: calc(100vh - 2rem);
  padding: var(--padding);
}

.stage-column_campaign {
  position: relative;
  flex-basis: 75%;
  display: flex;
  justify-content: stretch;
}

#global-header {
  position: relative;
  padding: var(--small-padding);
  text-align: center;
}

#logo {
  margin: 0;
  font: 700 1rem/1 var(--serif);
  letter-spacing: 0.5em;
  display: inline;
}

#global-footer {
  padding: var(--small-padding);
  font: 400 0.75em/1.33333 var(--fixed);
  text-align: center;
}

#global-footer > p {
  margin: var(--small-padding) auto;
  max-width: 800px;
}

#global-footer a {
  font-weight: 700;
}

/* 3. Lists */
.list-clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-clear > li {
  padding: 0;
  margin: 0;
}

/* 4. Typography */
.tiny-fixed {
  font: 400 0.625rem/1 var(--fixed);
}

.score-name {
  text-transform: capitalize;
  font-size: 0.875em;
  font-weight: 800;
}

.score {
  font-size: 1.5em;
  font-weight: 300;
}

/* 5. Helpers */
.mb0 {
  margin-bottom: 0;
}

/* 7. Equipment */
.equipment-content,
.equipment-content > p {
  margin: 0;
  font-size: 0.875em;
  font-style: oblique;
  font-weight: 500;
}

/* 8. Tracker */
#tracker {
  display: flex;
  flex-direction: column;
}

.tracker-item-wrapper {
  display: flex;
}

.tracker-item {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 2px solid #ccc;
}

.tracker-item.ally {
  border-color: cadetblue;
}

.tracker-item.enemy {
  border-color: red;
}

.tracker-item-portrait {
  display: block;
  width: 100%;
  height: auto;
  background-color: aqua;
}

.health-bar {
  background-color: cadetblue;
  height: 0.25rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.health-bar_currant {
  height: 0.25rem;
  width: 54px;
  background: linear-gradient(90deg, red, yellow, green);
}

.tracker-item-functions {
}

/* 9. Monster Sheet */
.monster-sheet-header {
  padding-bottom: 0.25em;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

/* 10. Character Sheet */
#character-sheet {
  padding: var(--small-padding);
  display: flex;
}
.character-sheet-col {
  flex-basis: 40%;
}
.character-sheet-col1 {
  flex-basis: 20%;
  padding-right: var(--small-padding);
  padding-left: var(--small-padding);
}
.character-sheet-field {
  padding: var(--small-padding);
  margin-bottom: var(--small-padding);
  color: var(--black);
  background-color: var(--white);
}
.character-sheet-field-label {
  display: inline;
  font: 400 1.5rem/1 var(--handwriting);
}
.character-sheet-title {
  display: inline;
  font-family: var(--fixed);
  font-weight: 400;
}
.character-sheet-ko {
  padding: 0;
  color: var(--white);
  background-color: transparent;
}
.character-sheet-copy {
  margin: 0.5em;
  font: 400 0.875rem/1.5 var(--fixed);
}
