/**
 * 1. General
 * 2. Layout
 * 3. Lists
 * 4. Typography
 * 5. Helpers
 * 6. Theme
 *   6.1 Magenta
 *   6.2 Black
 *   6.3 White
 * 7. Equipment
*/

:root {
  --tiny-padding: 0.25rem;
  --small-padding: 0.5rem;
  --padding: 1rem;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --serif: Athelas, Cambria, serif;
  --fixed: "Courier New", Courier, monospace;
}

/* 1. General */
* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333;
  font-family: var(--sans-serif);
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

table {
  width: 100%;
  padding: 0.2em 0;
  margin: 0.2em 0;
}

table th,
table td {
  text-align: center;
}

table > thead > tr > th:first-of-type,
table > tbody > tr > td:first-of-type {
  text-align: left;
}

/* 2. Layout */
.row {
  display: flex;
  align-items: center;
  padding: 0.25em;
  /* justify-content: space-between; */
}

.row-polar {
  justify-content: space-between;
}

.row-padded {
  justify-content: space-around;
}

.row-padded > div {
  flex-basis: 25%;
  padding: 0.25em;
}

.col {
  display: flex;
  flex-direction: column;
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#stage {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.stage-column {
  flex-basis: 25%;
  display: flex;
  max-height: calc(100vh - 2rem);
  padding: var(--padding);
}

.stage-column_campaign {
  position: relative;
  flex-basis: 75%;
  display: flex;
  justify-content: stretch;
}

#global-header {
  position: relative;
  padding: var(--small-padding);
  text-align: center;
}

#global-header > h1 {
  margin: 0;
  font: 700 1rem/1 var(--serif);
  letter-spacing: 0.5em;
}

#global-footer {
  box-sizing: border-box;
  padding: var(--small-padding);
  font: 500 0.75em/1.33333 var(--fixed);
  text-align: center;
}

#global-footer > p {
  margin: 0.5em auto;
  max-width: 800px;
}

#global-footer a {
  font-weight: 700;
}

/* 3. Lists */
.list-clear {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-clear > li {
  padding: 0;
  margin: 0;
}

/* 6. Typography */
.score-name {
  text-transform: capitalize;
  font-size: 0.875em;
  font-weight: 800;
}

.score {
  font-size: 1.5em;
  font-weight: 300;
}

/* 5. Helpers */
.mb0 {
  margin-bottom: 0;
}

/* 6. Theme */
/* 6.1 Magenta */
.theme-magenta {
  color: #000;
  background-color: magenta;
}

/* 6.2 Black */
.theme-black {
  color: #fff;
  background-color: #000;
}

.theme-black a {
  color: yellow;
  text-decoration: none;
}

.theme-black a:hover {
  text-decoration: underline;
}

.theme-black a:visited {
  color: magenta;
}

.theme-black-input {
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
.theme-black-input:focus-visible {
  outline: 1px solid yellow;
}

/* 6.3 White */
.theme-white {
  color: #000;
  background-color: #fff;
}

.theme-white-button {
  background-color: #000;
  border: none;
  color: #fff;
  font-family: var(--serif);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.theme-white-button:disabled {
  color: #333;
  background-color: #999;
}

.theme-white-button:not(:disabled):active {
  background-color: #666;
}

.theme-white-button:focus {
  background-color: #666;
}

/* 7. Equipment */
.equipment-content,
.equipment-content > p {
  margin: 0;
  font-size: 0.875em;
  font-style: oblique;
  font-weight: 500;
}

/* 8. Tracker */
#tracker {
  display: flex;
  flex-direction: column;
}

.tracker-item {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: 2px solid #ccc;
}

.tracker-item.ally {
  border-color: cadetblue;
}

.tracker-item.enemy {
  border-color: red;
}

.tracker-item-portrait {
  display: block;
  width: 100%;
  height: auto;
  background-color: aqua;
}

.health-bar {
  background-color: cadetblue;
  height: 0.25rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.health-bar_currant {
  height: 0.25rem;
  width: 54px;
  background: linear-gradient(90deg, red, yellow, green);
}
